@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/*.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }*/

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    /*align-items: center;*/
    margin: 100px;
    border: 1px solid black;
}


.navigation {
    display: flex;
    align-items: center;
    /*justify-content: space-between;*/
    border: 1px solid yellowgreen;
}

.logo {
    border: 1px solid blue;
}

.menu {
    margin-left: 5rem;
    border: 1px solid blue;
}

.menul {
    color: hsl(0, 0%, 100%);
    list-style: none;
    /* aleve le puces devant les menus*/
    display: flex;
    justify-content: space-between;
    width: 500px;
    border: 1px solid darkmagenta;
}

.nav_right {
    display: flex;
    align-items: center;
    margin-left: 23.7rem;
    /*margin-left: 10rem;*/
    border: 1px solid maroon;
}

.cart {

    margin-right: 2rem;
    /*border: 1px solid blue;*/
}

.avatar {
    width: 50px;
    border: 1px solid blue;
}


.all {
    display: flex;
    justify-content: space-between;
    margin: 5rem;
    border: 1px solid red;
}

.left {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid blue;
}

.left_up {
    border-radius: 10px;
    border: 1px solid blue;
}

.chausse {
    height: 400px;
    width: 400px;
    border: 1px solid red;
}

.left_down {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
    border-radius: 10px;
    border: 1px solid blue;
}

.chausse_lite {
    height: 90px;
    width: 90px;
    border: 1px solid red;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5rem;
    border: 1px solid blue;
}

.sneak {
    color: hsl(26, 100%, 55%);
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid red;
}

.fall {
    color: hsl(0, 0%, 0%);
    font-size: 3rem;
    font-weight: bold;
    padding-top: 1rem;
    border: 1px solid red;
}

.para {
    color: hsl(0, 0%, 100%) padding-top: 1rem;
    line-height: 2rem;
    border: 1px solid red;
}

.montant {
    display: flex;
    /*align-items: center;*/
    padding-top: 1rem;

    border: 1px solid red;
}

.valu {
    border: 1px solid green;
}

.ok {

    font-size: 2rem;
    font-weight: bold;
    border: 1px solid red;
}

.none {
    border: 1px solid red;
}

.pourcentage {
    display: flex;
    margin-left: 1rem;
    color: hsl(26, 100%, 55%);
    font-weight: bolder;
    align-items: center;
    border: 1px solid red;
}

.yes{
    height: 50%;
    border: 1px solid black;
}

.none{
    height: 50%;
    border: 1px solid black;
}

.foot {
    display: flex;
    margin-top: 1rem;
    /* padding: 1rem;*/
    justify-content: space-between;
    /*align-items: center;*/
    border: 1px solid blue;
}

/*.foot_in {
    /*display: flex;*/
/*align-items: center;
   /* border: 1px solid rgb(255, 0, 230);
}*/

.incremente {
    background-color: aquamarine;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    border: 1px solid yellow;
}

.in_left {

    border: 1px solid yellow;
}

.in_center {
   font-weight: bold;
    border: 1px solid black;
}


.in_right {
   
    border: 1px solid yellow;
}

.panier {
    /*margin-right: 1rem;*/
    border: 1px solid yellow;
}

.validation {
    display: flex;
    justify-content: space-around;
    color: hsl(0, 0%, 100%);
    padding-left: 4rem;
    padding-right: 4rem;
    border-radius: 10px;
    background-color: hsl(26, 100%, 55%);
    /*margin-left: 3rem;*/
    padding-top: 1rem;
    padding-bottom: 1rem;

    width: 50%;
    border: 1px solid yellow;
}